<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Navigation Bar</title>
<link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>Welcome to customer home
</h1>



<nav>
  <ul>
    <li><a href="/exploreSongs">Explore Songs</a></li>
    <li><a href="/map-playlist">Create Playlists</a></li>
    <li><a href="/viewPlaylist" >VIEW PLAYLIST</a></li>
    <li><a href="/logout" >Logout</a></li>
  </ul>
</nav>


</body>
</html>